<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bravo Project</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Welcome to Bravo Project</h1>
    </header>

    <main>
        <div class="button-container">
            <button onclick="location.href='/login'">Authorization</button>
            <button onclick="location.href='/'">Information</button>
            <button onclick="location.href='/qrcode'">QR Generation</button>
        </div>
        <div class="info">
        <main>
    <div class="button-container">
        <button onclick="location.href='/login'">Authorization</button>
        <button onclick="location.href='/qrcode'">QR Generation</button>
        <button onclick="location.href='/qrdecode'">QR Decode</button>
    </div>
</main>

<footer>
    <p>&copy; 2024 BRAVO PROJECT</p>
</footer>
</div>
    </main>

    <footer>
        <p>&copy; 2024 BRAVO PROJECT</p>
    </footer>
</body>
</html>

